################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/packages
/WebAppTest/bin
/WebAppTest/obj/Debug
/.vs/config/applicationhost.config
